@import "tailwindcss";

html,
body,
#root {
  background-color: #18181c;
  margin: 0;
  padding: 0;
}

/* ===== Animated Gradient Background ===== */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.animated-bg {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(-45deg,
    #5b636d,  /* charcoal */
    #020617,  /* ember */
    #1A1025,  /* deep violet */
    #2A123D,
    #1A0F0A,
    #24120F,
    #071A12,
    #064E3B,
    #2A0E14,
    #111827
  );
  background-size: 400% 400%;
  animation: gradientMove 18s ease infinite;
  overflow: hidden;
}

/* ===== Floating orbs ===== */
.orb {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.35;
  animation: float 12s ease-in-out infinite;
  pointer-events: none;
}

.orb.blue {
  background: #22c55e;
  top: -80px;
  left: -80px;
}

.orb.purple {
   background: #f43f5e;
  bottom: -80px;
  right: -80px;
  animation-delay: 4s;
}

.animated-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(255,255,255,0.03),
    rgba(0,0,0,0.6)
  );
  pointer-events: none;
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(40px) translateX(20px);
  }
}

/* ===== Subtle Noise Overlay ===== */
.animated-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.035;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out;
}